---
import Pagination from "@philnash/astro-pagination";

import BaseLayout from "@layouts/BaseLayout.astro";
import Card from "@components/Card.astro";
import SearchField from "@components/SearchField.astro";
import TagCloud from "@components/TagCloud.astro";

import { type CollectionEntry, getCollection } from "astro:content";
import { filterPosts } from "@utils/helpers";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const filteredPosts: CollectionEntry<"blog">[] = filterPosts(allPosts);
  return paginate(filteredPosts, { pageSize: 4 }).map(({ params, props }) => ({
    props: props,
    params: {
      ...params,
      page: params.page ? `page-${params.page}` : undefined,
    },
  }));
}

const { page } = Astro.props;

// console.log(page);

const title = "TheLoneVoice";
const description = "Welcome to my humble blog";
---

<BaseLayout {title} {description}>
  <main class="wrapper py grid">
    <div class="card-grid">
      {page.data.map((post) => <Card {post} />)}
    </div>

    <aside class="sidebar">
      <SearchField />
      <TagCloud />
    </aside>

    <div class="pagination-component">
      <Pagination
        page={page}
        urlPattern={"/blog/page-{}"}
        firstPageUrl="/blog"
        windowSize={5}
        showPrevNext={false}
      />
    </div>
  </main>
</BaseLayout>

<style is:global>
  .pagination-component {
    margin-block: 1.5rem;
  }

  nav[aria-label="Pagination"] {
    list-style: none;
  }

  nav[aria-label="Pagination"] ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
  }

  nav[aria-label="Pagination"] li {
    font-size: var(--fs-8);
    color: var(--clr-brand);
  }
</style>
