---
import BaseLayout from "./BaseLayout.astro";
import Hero from "@components/Hero.astro";

import { slugify } from "@utils/helpers";
import "../styles/typography.css";

const { title, description, pubDate, tags, coverImage, coverAlt } = Astro.props;
---

<BaseLayout {title} {description}>
  <main data-pagefind-body>
    <Hero {title} {pubDate} {coverImage} {coverAlt} />
    <article class="wrapper py typography">
      <slot />
      <hr />
      <div class="tags flex-row">
        {
          tags.map((tag) => (
            <a href={`/tag/${slugify(tag)}`} class="shadow">
              #{tag}
            </a>
          ))
        }
      </div>
    </article>
  </main>
</BaseLayout>

<style>
  .tags {
    gap: 1em;
  }

  .tags a {
    background-color: #f5f5f4;
    background-color: var(--clr-gray);
    padding: 0.1em 0.2em;
    font-size: var(--fs-4);
    border-radius: 0.25rem;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: #d4d4d3ff;
    }
  }
</style>
